# ignore various emacs droppings
*~
\#*\#

# agent
agent/*.ncb
agent/*.opt
agent/*.plg
agent/*.user
agent/*.suo
agent/obj

# cmake/
agent/cmake/msvc-debug
agent/cmake/msvc-release
agent/cmake/gcc-release
agent/cmake/build-gcc-debug.sh
agent/cmake/gcc-debug

# server/
server/obj
server/*.ncb
server/*.suo
server/*.user
