# ignore various emacs droppings
*~
\#*\#

# agent
agent/*.ncb
agent/*.opt
agent/*.plt
agent/*.user
agent/*.suo
agent/*.sdf
agent/*.opensdf
agent/obj
agent/ipch
agent/vc++

# cmake/
agent/cmake/msvc-debug
agent/cmake/msvc-release
agent/cmake/gcc-release
agent/cmake/gcc-debug

# server/
server/*.ncb
server/*.opt
server/*.plt
server/*.user
server/*.suo
server/*.sdf
server/*.opensdf
server/obj
server/ipch

# examples/daytime/
examples/daytime/obj

# tests/mem-leaks/
tests/mem-leaks/*.ncb
tests/mem-leaks/*.opt
tests/mem-leaks/*.plt
tests/mem-leaks/*.user
tests/mem-leaks/*.suo
tests/mem-leaks/*.sdf
tests/mem-leaks/*.opensdf
tests/mem-leaks/obj
tests/mem-leaks/ipch

# tests/test-dwarf/
tests/test-dwarf/*.ncb
tests/test-dwarf/*.opt
tests/test-dwarf/*.plt
tests/test-dwarf/*.user
tests/test-dwarf/*.suo
tests/test-dwarf/*.sdf
tests/test-dwarf/*.opensdf
tests/test-dwarf/obj
tests/test-dwarf/ipch

# tests/cmd-line/
tests/cmd-line/*.ncb
tests/cmd-line/*.opt
tests/cmd-line/*.plt
tests/cmd-line/*.user
tests/cmd-line/*.suo
tests/cmd-line/*.sdf
tests/cmd-line/*.opensdf
tests/cmd-line/obj
tests/cmd-line/ipch
